<div class="container">
            
  <div class="gap"></div>
  <div class="row">
      <div class="col-md-4">
          <h3>Trendy Now <small ><a href="#">view all</a></small></h3>
          <ul class="booking-list">
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_rio_internacional_de_luxe_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">The London NYC</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star-half-empty"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$230</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_serra_golf_library_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">The Benjamin</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star-o"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$257</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_rio_internacional_rooftop_pool_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL rooftop pool" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">Warwick New York Hotel</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$322</span>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <div class="col-md-4">
          <h3>Hot Deals <small ><a href="#">view all</a></small></h3>
          <ul class="booking-list">
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/lhotel_porto_bay_sao_paulo_suite_lhotel_living_room_800x600.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">Bryant Park Hotel</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star-half-empty"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$480</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_serra_golf_suite_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">The Kimberly Hotel</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$369</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_serra_golf_living_room_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">Waldorf Astoria New York</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$278</span>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <div class="col-md-4">
          <h3>Special for You <small ><a href="#">view all</a></small></h3>
          <ul class="booking-list">
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_rio_internacional_de_luxe_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">The London NYC</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star-half-empty"></i>
                                  </li>
                                  <li><i class="fa fa-star-o"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$182</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_serra_golf_suite_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">The Kimberly Hotel</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$267</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="booking-item booking-item-small">
                      <div class="row">
                          <div class="col-md-4">
                              <img src="assets/img/hotel_porto_bay_serra_golf_library_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" />
                          </div>
                          <div class="col-md-5">
                              <h5 class="booking-item-title">The Benjamin</h5>
                              <ul class="icon-group booking-item-rating-stars">
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star"></i>
                                  </li>
                                  <li><i class="fa fa-star-half-empty"></i>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$234</span>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>

<!-- explore starts here -->
<div class="exp_our lt_bg">
    <div class="container">
    <h2 class="mb20 text-center">Explore Our Top Destinations</h2>
    <div class="row row-wrap">
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="assets/img/lack_of_blue_depresses_me_800x600.jpg" alt="Image Alternative text" title="lack of blue depresses me" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Greece</h4>
                    <p class="thumb-desc">Luctus diam fusce urna potenti blandit urna viverra aenean faucibus</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="assets/img/the_journey_home_400x300.jpg" alt="Image Alternative text" title="the journey home" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Africa</h4>
                    <p class="thumb-desc">Mauris sit cras diam nec morbi erat mi at quam</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="assets/img/people_on_the_beach_800x600.jpg" alt="Image Alternative text" title="people on the beach" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Australia</h4>
                    <p class="thumb-desc">Consectetur praesent litora mauris ultrices neque proin leo in lobortis</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Packages start here -->

<div class="exp_our">
    <div class="container">
    <h2 class="mb20 text-center">The Best Packages</h2>
    <div class="row row-wrap">
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="assets/img/lack_of_blue_depresses_me_800x600.jpg" alt="Image Alternative text" title="lack of blue depresses me" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Greece</h4>
                    <p class="thumb-desc">Luctus diam fusce urna potenti blandit urna viverra aenean faucibus</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="assets/img/the_journey_home_400x300.jpg" alt="Image Alternative text" title="the journey home" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Africa</h4>
                    <p class="thumb-desc">Mauris sit cras diam nec morbi erat mi at quam</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="assets/img/people_on_the_beach_800x600.jpg" alt="Image Alternative text" title="people on the beach" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Australia</h4>
                    <p class="thumb-desc">Consectetur praesent litora mauris ultrices neque proin leo in lobortis</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

